
<head>
<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>When will my house be underwater?</title>
	<meta name="description" content="">
	<meta name="author" content="">

<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/fwslider.css" media="all">
	<link rel="stylesheet" href="css/swipebox.css" media="all">
	<link rel="stylesheet" href="css/font-awesome.min.css" media="all">
	<link rel="stylesheet" href="css/linecons.css" media="all">
	
	

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">

	
<!-- Scripts
================================================== -->

	<!-- jQuery Library -->
	<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="js/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="js/css3-mediaqueries.js" type="text/javascript"></script>
	<script src="js/fwslider.js" type="text/javascript"></script>
	<script src="js/retina.js" type="text/javascript"></script>
	<script src="js/jquery.twitter.js" type="text/javascript"></script>
	<script src="js/parallax.js" type="text/javascript"></script>
	<script src="js/jquery.swipebox.min.js" type="text/javascript"></script>
	<script src="js/ios-orientationchange-fix.js" type="text/javascript"></script>
	<script src="js/jquery.scrollTo.js" type="text/javascript"></script>
	<script src="js/jquery.nav.js" type="text/javascript"></script>
	<script src="js/jquery.dropdown.js" type="text/javascript"></script>
	<script src="js/jquery.sticky.js" type="text/javascript"></script>
	<script src="js/jquery.quovolver.js" type="text/javascript"></script>
	<script src="js/custom.js" type="text/javascript"></script>
	<script src="http://i.po.st/share/script/post-widget.js#publisherKey=6k39i83jbmp5imbi5fqm" type="text/javascript"></script>


	<script type="text/javascript" src="js/jquery.cycle.all.js"></script>	
	<script type="text/javascript" src="js/jquery.backstretch.min.js"></script>	

<!-- David's scripts -->
	<script type="text/javascript" src="js/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/streetview.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/wave.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>

<script>
    $.backstretch([
      "images/pic1.jpg",
      "images/pic2.jpg",
	  "images/pic3.jpg",
	  "images/pic4.jpg",
	  "images/pic5.jpg",
	  "images/pic6.jpg",
	  "images/pic7.jpg",
	  "images/pic8.jpg",
	  "images/pic9.jpg",
		"images/pic10.jpg",
		"images/pic11.jpg",
		"images/pic9.jpg"
      ], {
	fade: 750,
	duration: 4000
    });
	
	

</script>


	
</head>
<body>
  <section class="white-overlay">
    <div id="content">
      <img class="profile" src="images/facebook-default.jpg">
      <h4>Hi, my name is {{loginButtons}}<!--<a href="#" class="button green">Sign in</a>-->
	{{#if currentUser}}
	  {{> foo}}
	{{/if}}
      </h4>
    </div>
  </section>

<script>
	(function($, name) {
/* jQuery typewriter plugin
    2012-11-15
    https://github.com/bergus */
    $[name+"Defaults"] = {
	framerate: 2000/20,
	group: /.{1,2}/g // 2: Number of chars per frame
    };
    $.fn[name] = function(options, callback) {
	if (typeof options != 'object') callback=options, options={};
	
	return this.each(function() {
	    var el = $(this),
		conf = $.extend({}, $[name+"Defaults"], options);
	    el.queue("fx", function(next) {
		animateNode(this, conf, typeof callback == 'function'
		  ? function() { callback.call(el[0]); next(); }
		  : next
		);
		el.show();
	    });
	});
    };
    function chunk(text, conf) {
	// splitting the text into parts (http://stackoverflow.com/a/11657799/1048572)
	return text.match(conf.group);
    }
    function timeout(callback, conf) {
	// set up the timeout
	// want to randomize? Have a look at http://jsfiddle.net/pZb8W/2/ for possible implementation
	setTimeout(callback, conf.framerate);
    }
    function animateNode(element, conf, callback) {
	var pieces = [];
	if (element.nodeType==1 && element.hasChildNodes()) {
	    while (element.hasChildNodes())
		pieces.push(element.removeChild(element.firstChild));
	    timeout(function childStep() {
		if (pieces.length) {
		    var piece = pieces.shift();
		    animateNode(piece, conf, childStep); 
		    element.appendChild(piece);
		} else
		    callback();
	    }, conf);
	} else if (element.nodeType==3) {
	    pieces = chunk(element.data, conf);
	    element.data = "";
	    (function addText(){
		element.data += pieces.shift();
		timeout(pieces.length ? addText : callback, conf);
	    })();
	} else // empty or special (comment etc) node
	    timeout(callback, conf);
    }
    
})(jQuery, "typewriter");

$("#foo").fadeOut(1000).delay(500).typewriter(/* callback goes here*/);
</script>


  {{> about}}
  {{> contact}}
  <footer>{{> footer}}</footer>
</body>

<template name="foo">
  <p>... and I was born in <span class="location">Sydney</span> on the <span class="date">17th of August, 1941.</span></p>
  <p>On this day, there were <span class="ppm">350 <a title="AWESOME DESCRIPTION HERE" class="tooltip link">parts per million</a></span> of <span class="CO2">carbon dioxide</span> in the atmosphere. The <a title="Description" class="tooltip link">average temperature</a> was <span class="temperature">32.4&#8451;</span>.
    <span class="underwater">And my house was <span class="underline">not</span> underwater.</span></p>					
  <p><span class="CO2">Today,</span> there are <span class="ppm">400 <a title="AWESOME" class="tooltip link">parts per mi
llion</a></span> of <span class="CO2">carbon dioxide</span> out there. The <a title="Description" class="tooltip link">average temperature</a> is now <span class="temperature">0.46&#8451;</span> <span class="italics">higher</span>.</p>
  <p>My name is <span class="date">-namehere-</span>... and in <span class="biggest">123 years,</span> <span class="bigger">7 months,</span> 12 days and 32 hours - <span class="extreme">my house will be underwater.</span></p>
  <div style=padding-top: 20px; margin: 0 20px 100px 20px;>
    <div id="streetview">
			<a onclick="buildStreet()" id="street-tag">
				View my location
			</a>
		</div>
  </div>
  <div class="pw-widget pw-size-large">
    <a class="pw-button-twitter"></a>
    <a class="pw-button-facebook"></a>
    <a class="pw-button-reddit"></a>
    <a class="pw-button-googleplus"></a>
    <a class="pw-button-stumbleupon"></a>
    <a class="pw-button-email"></a>
  </div>  
</template>



	

	<template name="about">
			
			
		
			
		
		<!-- Team -->
		<div class="grey">
			<div class="container">
			
				<article>
					
					<h5>Brought to you by:</h5>
					
					<div class="one-third column">
						<figure class="picture">
							<img src="images/face-two.jpg">
							<figcaption>
								<span>Anthony Mockler - Hacktivist</span>
								<ul style="padding-top:10px;">
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
					</div>

					<div class="one-third column">
						<figure class="picture">
							<img src="images/rania.jpg">
							<figcaption>
								<span style="padding-bottom:0;">Rania Ramadan-Jradi - Project Manager + Front-End Web Developer</span>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="http://au.linkedin.com/in/raniaramadanjradi"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
					</div>
					
					<div class="one-third column">
						<figure class="picture">
							<img src="images/mark.jpg">
							<figcaption>
								<span>Mark Greenway - Data Scientist</span>
								<ul>
									<li><a href="https://www.facebook.com/mark.j.greenaway"><i class="icon-facebook"></i></a></li>
									<li><a href="https://twitter.com/certifiedwaif"><i class="icon-twitter"></i></a></li>
									<li><a href="http://au.linkedin.com/pub/dir/Mark/Greenaway"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
					</div>
					
					
					
				</article>
				
				<article>
				
				<div class="one-third column">
						<figure class="picture">
							<img src="images/rhydwynm.jpg">
							<figcaption>
								<span style="padding-bottom:0;">Rhydwyn McGuire  - Data Scientist</span>
								<ul>
									<li><a href="www.facebook.com/rhydwyn.mcguire‎"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="http://au.linkedin.com/pub/rhydwyn-mcguire/30/b48/bb2"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
				</div>
				
				<div class="one-third column">
						<figure class="picture">
							<img src="images/luke.jpg">
							<figcaption>
								<span style="padding-bottom:0;">Luke English - Jack of all Trades</span>
								<ul>
									<li><a href="https://www.facebook.com/LukeEnglish44?fref=ts"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
				</div>
				
				<div class="one-third column">
						<figure class="picture">
							<img src="images/david.jpg">
							<figcaption>
								<span>David Ma - Data Scientist</span>
								<ul style="padding-top:30px;">
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
				</div>
				
				
				</article>
				
			</div>
		</div>
		
	</template>
 <!-- ABOUT / End
=========================================== -->	

<!-- Contact / Start
================================================== -->
	<template name="contact">
		<div class="container" style="	background: rgba(255, 255, 255, 0.6);">
			
			<!-- Title -->
			<div class="title clearfix">
				<div class="six columns">
					<h2>Contact</h2>
				</div>
				
				<div class="ten columns">
					<p class="two-lines">Do you have any questions? <br> Get in touch!</p>
				</div>
			</div>
			
		</div>
		
		<div class="grey">
		<div class="container">
			
			<!-- Contact Form -->
			<div class="contact-form">
			
			<div class="sixteen columns">
				<div class="success-message">
					<p>Your message has been sent!</p>
				</div>
			</div>
			
				<form class="clearfix" method="post" action="contact.php">

				<div class="eight columns">
				
					<div class="field user">
						<input type="text" name="name" class="text" value="Name" onblur="if (this.value == '') {this.value = 'Name';}" onfocus="if (this.value == 'Name') {this.value = '';}"/>
					</div>

					<div class="field envelope">
						<input type="email" name="email" class="text" value="Email" onblur="if (this.value == '') {this.value = 'Email';}" onfocus="if (this.value == 'Email') {this.value = '';}"/>
					</div>
					
					<div class="field bulb">
						<input type="text" name="asubject" class="text" value="Subject" onblur="if (this.value == 'Subject') {this.value = '';}" onfocus="if (this.value == 'Subject') {this.value = '';}"/>
					</div>
					
				
				</div>
				<div class="eight columns">

					<div class="field pen">
						<textarea name="message" class="text textarea" onblur="if (this.value == 'Message') {this.value = '';}" onfocus="if (this.value == 'Message') {this.value = '';}">Message</textarea>
					</div>

					<div class="field">
						<button id="send" class="send"><span aria-hidden="true" class="li_paperplane"></span>Submit</button>
						<div class="loading"></div>
					</div>
					
				</div>

				</form>
			</div>
			<!-- Contact Form / End -->
			
		</div>
		</div>
			
	</template>
<!-- Contact / End
================================================== -->	

<!-- Footer / Srart
================================================== -->
	<template name="footer">
	
		
		<!-- Footer Contact Details -->
		<div class="contact-details">
			<img src="images/govhack-logo.png">
			<p><i class="icon-map-marker"></i>  GovHack for: #Glory #Winning #BigBucks<br>
			<i class="icon-envelope-alt"></i>  http://www.govhack.org/  </p>
				<ul class="socials bot">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
		</div>
		
	</template>
<!-- Footer / End

/* jQuery Start */
jQuery(document).ready(function() {

(function() {
var animateSpeed=300;
var emailReg = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+\.)+[a-zA-Z0-9.-]{2,4}$/;

	// Validating
	
	function validateName(name) {
		if (name.val()=='*') {name.addClass('validation-error',animateSpeed); return false;}
		else {name.removeClass('validation-error',animateSpeed); return true;}
	}

	function validateEmail(email,regex) {
		if (!regex.test(email.val())) {email.addClass('validation-error',animateSpeed); return false;}
		else {email.removeClass('validation-error',animateSpeed); return true;}
	}
	
	function validateSubject(asubject) {
		if (asubject.val()=='*') {asubject.addClass('validation-error',animateSpeed); return false;}
		else {asubject.removeClass('validation-error',animateSpeed); return true;}
	}
		
	function validateMessage(message) {
		if (message.val()=='') {message.addClass('validation-error',animateSpeed); return false;}
		else {message.removeClass('validation-error',animateSpeed); return true;}
	}
		
	$('#send').click(function() {
	
		var result=true;
		
		var name = $('input[name=name]');
		var email = $('input[name=email]');
		var asubject = $('input[name=asubject]');
		var message = $('textarea[name=message]');
		var budget = $('input[name="budget"]');
		
		// Validate
		if(!validateName(name)) result=false;
		if(!validateSubject(asubject)) result=false;
		if(!validateEmail(email,emailReg)) result=false;
		if(!validateMessage(message)) result=false;
		
		if(result==false) return false;
				
		// Data
		var data = 'name=' + name.val() + '&email=' + email.val() + '&asubject=' + asubject.val() + '&message='  + encodeURIComponent(message.val()) + "&budget="+budget.val();
		
		// Disable fields
		$('.text').attr('disabled','true');
		
		// Loading icon
		$('.loading').show();
		
		// Start jQuery
		$.ajax({
		
			// PHP file that processes the data and send mail
			url: "contact.php",	
			
			// GET method is used
			type: "GET",

			// Pass the data			
			data: data,		
			
			//Do not cache the page
			cache: false,
			
			// Success
			success: function (html) {				
			
				if (html==1) {	

					// Loading icon
					$('.loading').fadeOut('slow');	
						
					//show the success message
					$('.success-message').slideDown('slow');
											
					// Disable send button
					$('.send').attr('disabled',true);
					
				}
				
				else {
					$('.loading').fadeOut('slow')
					alert('Sorry, unexpected error. Please try again later.');				
				}
			}		
		});
	
		return false;
		
	});
		
	$('input[name=name]').blur(function(){validateName($(this));});
	$('input[name=email]').blur(function(){validateEmail($(this),emailReg); });
	$('input[name=asubject]').blur(function(){validateSubject($(this));});
	$('textarea[name=message]').blur(function(){validateMessage($(this)); });
       
})();

});
/* jQuery End */
</script>
<!-- End Document
================================================== -->
