/* Table of Content
==================================================
	#Site Styles
	#Section Styles
	#Media Queries

/* #Site Styles
================================================== */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");

/* Site Styles
========================================= */

/* 1. Navigation bar */
header {
	width: 100%;	
	z-index: 9999;
}

nav {
	width: 100%;
	background: #1d1d1d;
	text-align: center;
	position: relative;
	z-index: 9999;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}

nav li {
	display: inline;
}

nav li a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 15px 25px;
}

nav li:last-child a {
	border-right: 0;
}

nav a:hover, nav a:active {
	background-color: #8ebd00;
}

nav .pull {
	display: none;
}

.socials.top {
	display: inline-block;
	overflow: hidden;
	float: right;
	margin-top: 9px;
}

.socials li{
	display: inline-block;
}

.socials li i {
	margin: 10px 7px;
	font-size: 14px;
}

.socials li a:hover i {
	color: #8ebd00; 
}

.socials li a {
	color: #FFF;
	float: left;
	background: url('../images/smallhex_w.png') no-repeat;
	width: 31px;
	height: 34px;
	margin: 0 2px;
}

.socials li a:hover {
	background: url('../images/smallhex_w.png') bottom no-repeat;
}

/* 2. Section Title */
.title h2{
	padding: 40px 0;
	margin: 60px 60px 60px 0px;
	text-transform: uppercase;
	border-right: 3px solid #1d1d1d;
	text-align: center;
	color: #1d1d1d;
}

.title p{
	line-height: 46px;
	font-size: 36px;
	color: #1d1d1d;
	font-weight: 300;
}

.title p.one-line{ margin-top: 90px; }
.title p.two-lines{ margin-top: 70px; }
.title p.three-lines{ margin-top: 50px; }

/* 3. Grey Fullwidth Background */
.grey {
	width: 100%;
	background: #fafafa;
}

/* Parallax Sections 
==================================================
1. Promotion
2. Work With Us
3. Testimonials
4. Newsletter


/* 1. Main
==================================== */


#content {
	padding: 25px;
} 


.buy {
	background: url(../images/b2.jpg) 0 0 no-repeat fixed;
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	text-align: center;
}

.white-overlay {
	background: rgba(255, 255, 255, 0.9);
	margin: 40px auto;
	padding: 20px 0 30px;
	height: 900px;
	
	position: relative;
  width: 70%;
  -moz-border-radius: 4px;
  border-radius: 4px;
 /** padding: 2em 1.5em;*/
  color: rgba(0,0,0, 0.9);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  
  -webkit-box-shadow: 0px 0px 2px 0px black; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 2px 0px black; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */

}

#foo {display:none;}
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #444;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.link {text-decoration: underline;}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.white-overlay h4 {
	font-size: 38px;
	font-weight: 300;
	padding: 0 0 10px 0;
}

.white-overlay p {
	padding: 5px 0 15px;
	font-size: 15px;
	float:none!important;
	float:right	;
}


.white-overlay article {
	padding: 170px 0 170px 0;
	margin: 0 auto;
	float: none!important;
	display: inline-block!important;
	padding: 20px;
}

.profile {
	float: left;
	margin: 0 20px 5px 0;
	  -webkit-box-shadow: 0px 0px 2px 0px black; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 2px 0px black; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */


}

.location {
	font-weight: bold;
	color: orange;
	font-size: 18px;
}


.date {
	font-weight: 700;
	color: black;
}

.ppm, .temperature  {
	font-weight: 600;
	color: rgb(0, 112, 255);
	font-style: italic;
}

.CO2 {
color: dark-gray;
font-size: 19px;
font-weight: 500;

}

.underwater {
color: orange;
font-weight: 600;
font-size: 14px;

}

.extreme {
color: black;
font-weight: 600;
font-size: 19px;
}

.underline {
text-decoration: underline;
font-size: 22px;

}

.italics {
font-style: italic;
}
.work h4 {
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	color:#fff;
}

.work p {
	padding: 5px 0 15px;
	font-size: 17px;
	color:#fff;
	width: 60%;
	margin: 0 auto;
}

/* 3. Testimonials
==================================== */
.testimonials {
	background: url(../images/sailing.jpg) 0 0 no-repeat fixed;
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	text-align: center;
}

.testimonials-overlay {
	margin: 100px auto;
	padding: 50px 0 30px;
	width: 600px;
	height: 400px;
}

.testimonials ul li {
	margin: 0 auto;
}

blockquote.rotator p{
	padding: 0;
	color: #565656;
	font-size: 16px;
	margin: 0;
}

.avatar {
	display: block;
	width: 110px;
	height: 110px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 4px solid #fff;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.quote-author {
	margin-top: 10px;
}

/* 4. Newsletter
==================================== */
.newsletter {
	background: url(../images/dog.jpg) 0 0 no-repeat fixed;
	overflow: hidden;
	width: 100%;
	max-width: 1920px;
	text-align: center;
}

.newsletter article {
	background: rgba(255, 255, 255, 0.5);
	margin: 100px auto;
	padding: 60px 0;
}

.newsletter h4 {
	font-size: 40px;
	font-weight: 300;
	color:#1d1d1d;
	padding-bottom:15px;
}

.newsletter p {
	padding: 15px;
	font-size: 17px;
	color:#fff;
}

.newsletter-form
{
	display: block;
	margin-bottom: 40px;
}
.pencil { position: relative;display: inline-block;
}

.pencil:before{
	content: "\f040";
	position: absolute;
	font-family: 'FontAwesome';
	color: #1d1d1d;
	font-size: 14px;
	top: 11px;
	margin-left: 13px;
}

.newsletter-form .sub_email{
	border: none;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 9px 60px 9px 35px;
	margin: 0;
	display: inline-block;
	color: #1d1d1d;
	font-size: 14px;
	font-weight: 700;
	font-family: "Open Sans";
	
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-o-transition: all 0.2s; /* Opera */
	
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.newsletter-form button.sub_send{
	padding: 9px 20px 9px;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 -4px;
	font-size: 14px;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


/* Section Styles
==================================================
1. Services
2. About
4. Parallax Work With Us
5. Portfolio
6. Newsletter
7. Contact

/* 1. Services
===================================== */
.service {
	display: block;
	width: 100%;
	margin: 55px 0;
}

.hex {
	background: url('../images/hex.png') center no-repeat;
	font-size: 38px;
	padding: 40px 0 35px;
	margin: 0 auto 20px;
	display: inline-block;
	text-align: center;
	width: 100%;
	
	transition: all 0.3s;
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
}

.hex:hover {
	transform: rotate(-30deg); 
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	background: url('../images/hex-green.png') center no-repeat;
}

.hex span {
	transition: all 0.3s;
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
}

.hex:hover span {
	color: #8ebd00;
}

.service h3 {
	font-size: 15px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

.service p {
	text-align: center;
}

.promo {
	margin: 60px 0;
}

.promo h3{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 55px;
}

.promo p{
	margin-right: 110px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* 2. About
===================================== */
#about h3 {
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#about h5 {
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 40px;
	text-align: center;
}

#about article {
	padding:  45px 0 55px 0; 
	overflow: hidden;
}

/* Skill Bars */
.skills {
	width: 100%;
}

.skills li {
	clear:both;
	overflow: hidden;
}

.skill-bar {
	height: 40px;
	position: relative;
	margin: 0 0 14px 0;
	width: 84%;
	float: left;
	display: inline;
	background: #1d1d1d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.skill-bar-content[data-percentage] {
	text-indent: 12px;
	color: #fff;
	padding: 11px 0;
	font-size: 15px;
	background: #8ebd00;
	text-shadow: 1px 1px 0px #739900;
	font-weight: 700;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.skill-bar-content {
	float: left;
	width: 0;
}

.skill-title {
	float: left;
	display: inline;
	width: 14%;
	margin-right: 2%;
	margin-top: 12px;
	font-size: 14px;
	font-weight: 600;
}

.picture {
	background: #fff;
	width: 100%;
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.picture img {
	display: block;
	margin: 0 auto;
	padding: 6px 0;
}

.picture figcaption {
	overflow: hidden;
}

.picture span {
	font-weight: 700;
	padding: 11px 0 18px;
	margin-left: 10px;
	display: block;
	float: left;
}

.picture ul {
	float: right;
	margin-right: 10px;
}

.picture ul li{
	display: inline-block;
	width: 24px;
	height: 25px;
	margin: 7px 1px;
}

.picture ul li a{
	background: url('../images/smallhex.png') 0 -54px no-repeat;
	height: 27px;
	width: 25px;
	display: block;
	color: #1d1d1d;
	font-size: 11px;
}

.picture ul li a i{
	text-align: center;
	margin: 8px 6px;
	transition: all 0.2s;
	-moz-transition: all 0.2s; 
	-webkit-transition: all 0.2s; 
	-o-transition: all 0.2s; 
}

.picture ul li a:hover{
	background: url('../images/smallhex.png') 0 bottom no-repeat;
}

.picture ul li a:hover i{
	color: #8ebd00;
}

/* 3. Portfolio 
===================================== */
.center-filters {
	text-align: center;
}

#filters {
	padding: 40px 0 30px;
}

#filters li {
	color: #b7b7b7;
	font-weight: 700;
	display: inline-block;

	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

#filters li a {
	color: #b7b7b7;
	padding: 2px;
	display: block;
	font-size: 14px;
	padding: 12px;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

#filters li a:hover{	
	color: #1d1d1d;
}

#filters li.selected a{
	color:#1d1d1d;
}

#filters li.selected a:hover{
	color:#b7b7b7;
}

#portfolio-container {
	margin: 0 auto;
}

.portfolio-item {
	display:block;
}

.item {
	background: #fff;
	margin-bottom: 20px;
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.portfolio-thumb {
	display: block;
	padding: 0 6px;
}

.item img {
	opacity: 1;
	display: block;
	margin: 0 auto;
	padding: 6px 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.item img:hover {
	opacity: .7;
}

.item figcaption {
	overflow: hidden;
}

.item span {
	font-weight: 700;
	padding: 11px 0 18px;
	margin-left: 10px;
	display: block;
	float: left;
}

.item ul {
	float: right;
	margin-right: 10px;
}

.item ul li{
	display: inline-block;
	height: 25px;
	margin: 7px 1px;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* 4. Pricing
===================================== */
.plan {
	padding-bottom: 25px;
	margin-bottom: 80px;
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.label {
	font-size: 23px;
	font-weight: 700;
	color: #fff;
	padding: 30px 0;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin-top: 80px;
}

.label.black {background: #231f20;}
.label.color {background: #8ebd00; padding: 40px 0; margin-top: 70px;}

.price {
	text-align: center;
}

strong.green {color: #8ebd00;}

.features .price .curr {
	font-size: 25px;
	font-weight: 700;
	position: absolute;
	margin-top: 20px;
	margin-left: -10px;
}

.features .price .value {
	font-size: 94px;
	letter-spacing: -15px;
}

.features ul li {
	text-align: center;
	padding: 5px 0;
	font-size: 15px;
	color: #424242;
}

.plan .button {
	margin: 25px auto 10px;
	width: 120px;
	display: block;
}

/* 5. Contact
===================================== */

.contact-form {
	padding: 70px 0;
}

.field, .select {
	position: relative;
}

.field textarea, .field input{
	background: #fff;
	margin: 10px 0;
	padding: 14px 30px 14px 58px;
	border: 2px solid #d7d7d7;
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	font-family: "Open Sans";
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.field textarea:focus, 
.field input:focus{
	border: 2px solid #8ebd00;
}

.field textarea {
	padding-top: 15px;
	line-height: 23px;
	height: 265px;
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown > span {
	color: #8ebd00;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 0px;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #8ebd00;
	color: #fff;
}

.cd-dropdown,
.cd-select {
	position: relative;
	display: block;
	font-size: 16px;
	margin: 10px 0;
}

.cd-dropdown > span {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #d7d7d7;
	border-bottom: none;
	
	height: 50px;
	line-height: 50px;
	color: #1d1d1d;
	font-weight: 600;
	font-size: 14px;
	background: #fff;
	display: block;
	padding: 0 30px 0 58px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\f078';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	font-weight: normal;
	height: 70%;
	line-height: 15px;
	border-left: 2px solid #d7d7d7;
	font-family: "FontAwesome";
}

.cd-dropdown.cd-active > span:after {
	content: '\f077';
	font-family: "FontAwesome";
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

.cd-dropdown ul li {
	display: block;
	border: 2px solid #d7d7d7;
	border-top: none;
	border-bottom: none;
}

.cd-dropdown ul li:last-child {
	display: block;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom: 2px solid #d7d7d7;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 50px;
	padding: 0 30px 0 30px;
	display: block;
	cursor: pointer;
	color: #1d1d1d;
	font-weight: 600;
	font-size: 14px;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* form icons */
.user:before,
.envelope:before,
.bulb:before,
.cd-dropdown > span:before ,
.pen:before{
	position: absolute;
	top: 23px;
	left: 17px;
	font-family: 'linecons';
	font-size: 18px;
	border-right: 2px solid #d7d7d7;
	padding-right: 10px;
	height: 26px;
	line-height: 26px;
	color: #c9c9c9;
}

.cd-dropdown > span:before {content: "\e020"; top: 11px; left: 15px;}
.user:before {content: "\e007";}
.envelope:before {content: "\e019";}
.bulb:before {content: "\e00e";}
.pen:before {content: "\e00f";}


.field .validation-error{
	border: 2px solid #eb6d6d;
}
.field .validation-error:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.send {
	display: block;
	cursor: pointer;
	float: right;
	padding: 5px 30px 5px 22px;
	margin: 0;
	font-weight: 700;
}

.send span {
	font-size: 18px;
	margin-right: 9px;
	margin-top: 3px;
}

.send:hover {
	background: #8ebd00;
	-webkit-transition: all 0.1s ease-in-out;	
	-moz-transition: all 0.1s ease-in-out;	
	-o-transition: all 0.1s ease-in-out;	
	-ms-transition: all 0.1s ease-in-out;	
	transition: all 0.1s ease-in-out;
}

.loading {
	background:url(../images/ajax-loader.gif) no-repeat; 
	height:28px; 
	width:28px; 
	display: none;
	float: left;
	margin: 17px 0 0 12px;
}

.success-message {
	display: none;
	width: 100%;
	border: 2px solid #A8D15F;
	background: #D3FF84;
	color: #82A83E;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
	text-shadow: 1px 1px #E3FFB0;
	font-weight: 600;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* 6. Footer
===================================== */
footer {
	background: #1c1c1c;
}

.bluebg {
	background: #f0f6f7;
	width: 100%;
}

#twitter-feed {
	display: block;
	overflow: hidden;
	padding: 50px 0;
}

#twitter-feed li { 
	margin: 20px 0; 
}

#twitter-feed li i {
	font-size: 23px;
	color: #6dd5eb;
}

.tweet_time {
	margin-left: 6px;
	font-weight: 700;
	color: #B7B7B7;
	font-size: 16px;
	letter-spacing: 1px;
}

#twitter-feed li span {
	margin-top: 10px;
	display: block;
	color: #686868;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
}

#twitter-feed li span a {
	font-weight: 700;
	color: #424242;	
}

.contact-details {
	padding: 80px 0;
	text-align: center;
}

.contact-details img {
	margin-bottom: 40px;
}

.contact-details p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 40px;
}

.contact-details p i {
	margin-right: 5px;
}

.socials.bot {
	display: inline-block;
}



/* #Media Queries
================================================== */


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.buy { background: url(../images/b2.jpg) 0 50% no-repeat!important; }
	.work { background: url(../images/faces.jpg) 0 50% no-repeat!important; }
	.testimonials { background: url(../images/sailing.jpg) 0 50% no-repeat!important; }
	.newsletter { background: url(../images/dog.jpg) 0 50% no-repeat!important;}
	.buy, .work, .testimonials , .newsletter { -webkit-background-size: 1024px auto!important;}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.buy { background: url(../images/b2.jpg) 0 50% no-repeat!important; }
	.work { background: url(../images/faces.jpg) 0 50% no-repeat!important; }
	.testimonials { background: url(../images/sailing.jpg) 0 50% no-repeat!important; }
	.newsletter { background: url(../images/dog.jpg) 0 50% no-repeat!important; }
	.buy, .work, .testimonials, .newsletter { -webkit-background-size: 959px auto!important;}
	
	.white-overlay,
	.testimonials-overlay{
		padding: 60px 0 30px;
		width: 556px;
	}

	.white-overlay h4 { font-size: 31px; }
	.white-overlay p { font-size: 14px; }
	
	.promo img { width: 90%; }
	.promo h3{margin-top: 40px; }
	.promo p {margin-right: 20px;}
	
	#about h5 {margin-bottom: 30px;}	
	#about article {padding: 35px 0;}
	.picture {padding: 0 6px;}
	.picture span {	margin-left: 2px;font-weight: 600;font-size: 13px;}
	.picture ul {margin-right: 0px;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {
	
	.buy { background: url(../images/b2.jpg) 0 50% no-repeat!important; }
	.work { background: url(../images/faces.jpg) 0 50% no-repeat!important; }
	.testimonials { background: url(../images/sailing.jpg) 0 50% no-repeat!important; }
	.newsletter { background: url(../images/dog.jpg) 50% 50% no-repeat!important; }
	.buy, .work, .testimonials, .newsletter { -webkit-background-size: 767px auto!important;}
	
	.white-overlay,
	.testimonials-overlay{
		margin: 100px auto;
		padding: 40px 0 20px;
		width: 420px;
	}

	.white-overlay h4 { font-size: 24px; }
	.white-overlay p { font-size: 14px; }
	
	.button {font-size: 13px; padding: 6px 25px;}
	
	.buy { background: url(../images/b2.jpg) no-repeat; }

	nav {
		border-bottom: 0;
	}
	
	nav ul {
		display: none;
		height: auto;
	}
	
	nav ul li {
		width: 100%;
	}
	
	nav li a {
	  	text-align: left;
	  	width: 100%;
  	}
	
	nav .pull {
		display: block;
		background: #161616;
		width: 100%;
		text-align: right;
		color: #fff;
	}
	
	nav .pull i{
		font-size: 21px;
		padding: 11px;
	}
	
	nav .pull:hover {
		background: #1d1d1d;
		color: #8ebd00;
	}
	
	.title h2 {
		padding: 0;
		margin: 40px 0 5px;
		border: 0;
		text-align: center;
	}
	
	.title p {
		line-height: 23px;
		font-size: 18px;
		text-align: center;
	}
	
	.service {	margin: 25px 0;}
	#about article {padding: 20px 0;}
	
	.title p.three-lines,
	.title p.two-lines,
	.title p.one-line {margin: 0 0 40px;}
	
	.promo h3,
	.promo p{
		text-align: center;
		margin-right: 0;
	}
	
	.promo a {
		margin: 0 auto;
		width: 120px;
		display: block;
	}
	
	.skill-title {width: 100%; margin-top: 0px; margin-bottom: 3px;}
	.skill-bar {width: 100%;}
	
	.picture {padding: 0 6px;margin-bottom: 20px;}
	
	.newsletter h4 {font-size: 28px;}
	.newsletter-form input[type=text] { width: 160px; padding: 9px 0px 9px 35px;}
	.contact-details p {width: 60%; margin: 0 auto 40px;}
	.work p { font-size: 14px; }
	
	.plan { margin-bottom: 0; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.white-overlay,
	.testimonials-overlay{
		margin: 100px auto;
		padding: 40px 0 20px;
		width: 300px;
	}
	
}

/* #Retina Graphics
================================================== */

@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	.hex {
		background: url('../images/hex@2x.png') center no-repeat;	
		background-size: 113px 125px;
	}

	.hex:hover {
		background: url('../images/hex-green@2x.png') center no-repeat;	
		background-size: 113px 125px;
	}
	
	.picture ul li a{
		background: url('../images/smallhex@2x.png') center 66% no-repeat;
		background-size: 25px auto;
	}

	.picture ul li a:hover{
		background: url('../images/smallhex@2x.png') center bottom no-repeat;
		background-size: 25px auto;
	}
	
	.socials li a {
		background: url('../images/smallhex_w@2x.png') no-repeat;
		background-size: 31px auto;
	}

	.socials li a:hover {
		background: url('../images/smallhex_w@2x.png') bottom no-repeat;
		background-size: 31px auto;
	}
		
}

/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"

 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */

@font-face{
  font-family:'FontAwesome';
  src:url('../font/fontawesome-webfont.eot?v=3.0.1');
  src:url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal }

[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:none}[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none}a [class^="icon-"],a [class*=" icon-"]{display:inline-block}.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}.btn [class^="icon-"],.nav [class^="icon-"],.btn [class*=" icon-"],.nav [class*=" icon-"]{display:inline}.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large{line-height:.9em}.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block}.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:.9em}li [class^="icon-"],.nav li [class^="icon-"],li [class*=" icon-"],.nav li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center}li [class^="icon-"].icon-large,.nav li [class^="icon-"].icon-large,li [class*=" icon-"].icon-large,.nav li [class*=" icon-"].icon-large{width:1.5625em}ul.icons{list-style-type:none;text-indent:-0.75em}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.75em}.icon-muted{color:#eee}.icon-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.icon-2x{font-size:2em}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.icon-3x{font-size:3em}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.icon-4x{font-size:4em}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.pull-right{float:right}.pull-left{float:left}[class^="icon-"].pull-left,[class*=" icon-"].pull-left{margin-right:.3em}[class^="icon-"].pull-right,[class*=" icon-"].pull-right{margin-left:.3em}.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.18em}.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{line-height:.8em}.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.25em}.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"]{margin-top:0}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.05em}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x{margin-right:.2em}.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-left:.2em}.icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}@-moz-document url-prefix(){.icon-spin{height:.9em}.btn .icon-spin{height:auto}.icon-spin.icon-large{height:1.25em}.btn .icon-spin.icon-large{height:.75em}}.icon-glass:before{content:"\f000"}.icon-music:before{content:"\f001"}.icon-search:before{content:"\f002"}.icon-envelope:before{content:"\f003"}.icon-heart:before{content:"\f004"}.icon-star:before{content:"\f005"}.icon-star-empty:before{content:"\f006"}.icon-user:before{content:"\f007"}.icon-film:before{content:"\f008"}.icon-th-large:before{content:"\f009"}.icon-th:before{content:"\f00a"}.icon-th-list:before{content:"\f00b"}.icon-ok:before{content:"\f00c"}.icon-remove:before{content:"\f00d"}.icon-zoom-in:before{content:"\f00e"}.icon-zoom-out:before{content:"\f010"}.icon-off:before{content:"\f011"}.icon-signal:before{content:"\f012"}.icon-cog:before{content:"\f013"}.icon-trash:before{content:"\f014"}.icon-home:before{content:"\f015"}.icon-file:before{content:"\f016"}.icon-time:before{content:"\f017"}.icon-road:before{content:"\f018"}.icon-download-alt:before{content:"\f019"}.icon-download:before{content:"\f01a"}.icon-upload:before{content:"\f01b"}.icon-inbox:before{content:"\f01c"}.icon-play-circle:before{content:"\f01d"}.icon-repeat:before{content:"\f01e"}.icon-refresh:before{content:"\f021"}.icon-list-alt:before{content:"\f022"}.icon-lock:before{content:"\f023"}.icon-flag:before{content:"\f024"}.icon-headphones:before{content:"\f025"}.icon-volume-off:before{content:"\f026"}.icon-volume-down:before{content:"\f027"}.icon-volume-up:before{content:"\f028"}.icon-qrcode:before{content:"\f029"}.icon-barcode:before{content:"\f02a"}.icon-tag:before{content:"\f02b"}.icon-tags:before{content:"\f02c"}.icon-book:before{content:"\f02d"}.icon-bookmark:before{content:"\f02e"}.icon-print:before{content:"\f02f"}.icon-camera:before{content:"\f030"}.icon-font:before{content:"\f031"}.icon-bold:before{content:"\f032"}.icon-italic:before{content:"\f033"}.icon-text-height:before{content:"\f034"}.icon-text-width:before{content:"\f035"}.icon-align-left:before{content:"\f036"}.icon-align-center:before{content:"\f037"}.icon-align-right:before{content:"\f038"}.icon-align-justify:before{content:"\f039"}.icon-list:before{content:"\f03a"}.icon-indent-left:before{content:"\f03b"}.icon-indent-right:before{content:"\f03c"}.icon-facetime-video:before{content:"\f03d"}.icon-picture:before{content:"\f03e"}.icon-pencil:before{content:"\f040"}.icon-map-marker:before{content:"\f041"}.icon-adjust:before{content:"\f042"}.icon-tint:before{content:"\f043"}.icon-edit:before{content:"\f044"}.icon-share:before{content:"\f045"}.icon-check:before{content:"\f046"}.icon-move:before{content:"\f047"}.icon-step-backward:before{content:"\f048"}.icon-fast-backward:before{content:"\f049"}.icon-backward:before{content:"\f04a"}.icon-play:before{content:"\f04b"}.icon-pause:before{content:"\f04c"}.icon-stop:before{content:"\f04d"}.icon-forward:before{content:"\f04e"}.icon-fast-forward:before{content:"\f050"}.icon-step-forward:before{content:"\f051"}.icon-eject:before{content:"\f052"}.icon-chevron-left:before{content:"\f053"}.icon-chevron-right:before{content:"\f054"}.icon-plus-sign:before{content:"\f055"}.icon-minus-sign:before{content:"\f056"}.icon-remove-sign:before{content:"\f057"}.icon-ok-sign:before{content:"\f058"}.icon-question-sign:before{content:"\f059"}.icon-info-sign:before{content:"\f05a"}.icon-screenshot:before{content:"\f05b"}.icon-remove-circle:before{content:"\f05c"}.icon-ok-circle:before{content:"\f05d"}.icon-ban-circle:before{content:"\f05e"}.icon-arrow-left:before{content:"\f060"}.icon-arrow-right:before{content:"\f061"}.icon-arrow-up:before{content:"\f062"}.icon-arrow-down:before{content:"\f063"}.icon-share-alt:before{content:"\f064"}.icon-resize-full:before{content:"\f065"}.icon-resize-small:before{content:"\f066"}.icon-plus:before{content:"\f067"}.icon-minus:before{content:"\f068"}.icon-asterisk:before{content:"\f069"}.icon-exclamation-sign:before{content:"\f06a"}.icon-gift:before{content:"\f06b"}.icon-leaf:before{content:"\f06c"}.icon-fire:before{content:"\f06d"}.icon-eye-open:before{content:"\f06e"}.icon-eye-close:before{content:"\f070"}.icon-warning-sign:before{content:"\f071"}.icon-plane:before{content:"\f072"}.icon-calendar:before{content:"\f073"}.icon-random:before{content:"\f074"}.icon-comment:before{content:"\f075"}.icon-magnet:before{content:"\f076"}.icon-chevron-up:before{content:"\f077"}.icon-chevron-down:before{content:"\f078"}.icon-retweet:before{content:"\f079"}.icon-shopping-cart:before{content:"\f07a"}.icon-folder-close:before{content:"\f07b"}.icon-folder-open:before{content:"\f07c"}.icon-resize-vertical:before{content:"\f07d"}.icon-resize-horizontal:before{content:"\f07e"}.icon-bar-chart:before{content:"\f080"}.icon-twitter-sign:before{content:"\f081"}.icon-facebook-sign:before{content:"\f082"}.icon-camera-retro:before{content:"\f083"}.icon-key:before{content:"\f084"}.icon-cogs:before{content:"\f085"}.icon-comments:before{content:"\f086"}.icon-thumbs-up:before{content:"\f087"}.icon-thumbs-down:before{content:"\f088"}.icon-star-half:before{content:"\f089"}.icon-heart-empty:before{content:"\f08a"}.icon-signout:before{content:"\f08b"}.icon-linkedin-sign:before{content:"\f08c"}.icon-pushpin:before{content:"\f08d"}.icon-external-link:before{content:"\f08e"}.icon-signin:before{content:"\f090"}.icon-trophy:before{content:"\f091"}.icon-github-sign:before{content:"\f092"}.icon-upload-alt:before{content:"\f093"}.icon-lemon:before{content:"\f094"}.icon-phone:before{content:"\f095"}.icon-check-empty:before{content:"\f096"}.icon-bookmark-empty:before{content:"\f097"}.icon-phone-sign:before{content:"\f098"}.icon-twitter:before{content:"\f099"}.icon-facebook:before{content:"\f09a"}.icon-github:before{content:"\f09b"}.icon-unlock:before{content:"\f09c"}.icon-credit-card:before{content:"\f09d"}.icon-rss:before{content:"\f09e"}.icon-hdd:before{content:"\f0a0"}.icon-bullhorn:before{content:"\f0a1"}.icon-bell:before{content:"\f0a2"}.icon-certificate:before{content:"\f0a3"}.icon-hand-right:before{content:"\f0a4"}.icon-hand-left:before{content:"\f0a5"}.icon-hand-up:before{content:"\f0a6"}.icon-hand-down:before{content:"\f0a7"}.icon-circle-arrow-left:before{content:"\f0a8"}.icon-circle-arrow-right:before{content:"\f0a9"}.icon-circle-arrow-up:before{content:"\f0aa"}.icon-circle-arrow-down:before{content:"\f0ab"}.icon-globe:before{content:"\f0ac"}.icon-wrench:before{content:"\f0ad"}.icon-tasks:before{content:"\f0ae"}.icon-filter:before{content:"\f0b0"}.icon-briefcase:before{content:"\f0b1"}.icon-fullscreen:before{content:"\f0b2"}.icon-group:before{content:"\f0c0"}.icon-link:before{content:"\f0c1"}.icon-cloud:before{content:"\f0c2"}.icon-beaker:before{content:"\f0c3"}.icon-cut:before{content:"\f0c4"}.icon-copy:before{content:"\f0c5"}.icon-paper-clip:before{content:"\f0c6"}.icon-save:before{content:"\f0c7"}.icon-sign-blank:before{content:"\f0c8"}.icon-reorder:before{content:"\f0c9"}.icon-list-ul:before{content:"\f0ca"}.icon-list-ol:before{content:"\f0cb"}.icon-strikethrough:before{content:"\f0cc"}.icon-underline:before{content:"\f0cd"}.icon-table:before{content:"\f0ce"}.icon-magic:before{content:"\f0d0"}.icon-truck:before{content:"\f0d1"}.icon-pinterest:before{content:"\f0d2"}.icon-pinterest-sign:before{content:"\f0d3"}.icon-google-plus-sign:before{content:"\f0d4"}.icon-google-plus:before{content:"\f0d5"}.icon-money:before{content:"\f0d6"}.icon-caret-down:before{content:"\f0d7"}.icon-caret-up:before{content:"\f0d8"}.icon-caret-left:before{content:"\f0d9"}.icon-caret-right:before{content:"\f0da"}.icon-columns:before{content:"\f0db"}.icon-sort:before{content:"\f0dc"}.icon-sort-down:before{content:"\f0dd"}.icon-sort-up:before{content:"\f0de"}.icon-envelope-alt:before{content:"\f0e0"}.icon-linkedin:before{content:"\f0e1"}.icon-undo:before{content:"\f0e2"}.icon-legal:before{content:"\f0e3"}.icon-dashboard:before{content:"\f0e4"}.icon-comment-alt:before{content:"\f0e5"}.icon-comments-alt:before{content:"\f0e6"}.icon-bolt:before{content:"\f0e7"}.icon-sitemap:before{content:"\f0e8"}.icon-umbrella:before{content:"\f0e9"}.icon-paste:before{content:"\f0ea"}.icon-lightbulb:before{content:"\f0eb"}.icon-exchange:before{content:"\f0ec"}.icon-cloud-download:before{content:"\f0ed"}.icon-cloud-upload:before{content:"\f0ee"}.icon-user-md:before{content:"\f0f0"}.icon-stethoscope:before{content:"\f0f1"}.icon-suitcase:before{content:"\f0f2"}.icon-bell-alt:before{content:"\f0f3"}.icon-coffee:before{content:"\f0f4"}.icon-food:before{content:"\f0f5"}.icon-file-alt:before{content:"\f0f6"}.icon-building:before{content:"\f0f7"}.icon-hospital:before{content:"\f0f8"}.icon-ambulance:before{content:"\f0f9"}.icon-medkit:before{content:"\f0fa"}.icon-fighter-jet:before{content:"\f0fb"}.icon-beer:before{content:"\f0fc"}.icon-h-sign:before{content:"\f0fd"}.icon-plus-sign-alt:before{content:"\f0fe"}.icon-double-angle-left:before{content:"\f100"}.icon-double-angle-right:before{content:"\f101"}.icon-double-angle-up:before{content:"\f102"}.icon-double-angle-down:before{content:"\f103"}.icon-angle-left:before{content:"\f104"}.icon-angle-right:before{content:"\f105"}.icon-angle-up:before{content:"\f106"}.icon-angle-down:before{content:"\f107"}.icon-desktop:before{content:"\f108"}.icon-laptop:before{content:"\f109"}.icon-tablet:before{content:"\f10a"}.icon-mobile-phone:before{content:"\f10b"}.icon-circle-blank:before{content:"\f10c"}.icon-quote-left:before{content:"\f10d"}.icon-quote-right:before{content:"\f10e"}.icon-spinner:before{content:"\f110"}.icon-circle:before{content:"\f111"}.icon-reply:before{content:"\f112"}.icon-github-alt:before{content:"\f113"}.icon-folder-close-alt:before{content:"\f114"}.icon-folder-open-alt:before{content:"\f115"}