 <!-- ABOUT / Start
=========================================== -->
	<section id="about">
		
		
			<!-- Title -->
			<div class="title clearfix">
				<div class="six columns">
					<h2>About Us</h2>
				</div>
				
				<div class="ten columns">
					<p class="two-lines">Mea ut propriae mandamus forensibus sea dicant.</p>
				</div>
			</div>
			
		</div>
		
		<!-- Some Text -->
		<div class="grey">
			<div class="container">
				
				<article class="eight columns">
					<h3>Experiences</h3>
					<p>His latine offendit te, atomorum scripserit vituperatoribus ut vim, 
					nostrum vituperatoribus ex est. Noluisse pericula nec in, eu ius affert 
					populo suavitate, usu tota propriae te. Debet voluptaria no qui, mei et 
					viderer tractatos quaere. Velit gloriatur sadipscing.</p>
				</article>
				
				<article class="eight columns">
					<h3>Disciplines</h3>
					<p>Mea dicam molestie cu, ei possim eirmod apeirian vim. Ius eu stet 
					putant, vix iusto scriptorem in. Eos apeirian accusamus maiestatis ne, 
					eripuit nostrum cu qui, est mundi impedit apeirian cu. Integre sum 
					constituam pri at, enim nostrum mentitum eu mei debet est.</p>
				</article>

			</div>
		</div>
		
		
		<!-- Skills -->
		<div class="container">
		
			<article>
			
				<h5>Skills</h5>
				
				<div class="sixteen columns">
					<ul class="skills clearfix">
						<li><span class="skill-title">Web Design</span><div class="skill-bar"><div class="skill-bar-content" data-percentage="70">70%</div></div></li>
						<li><span class="skill-title">Print design</span><div class="skill-bar"><div class="skill-bar-content" data-percentage="60">60%</div></div></li>
						<li><span class="skill-title">HTML/CSS</span><div class="skill-bar"><div class="skill-bar-content" data-percentage="90">90%</div></div></li>
						<li><span class="skill-title">jQuery</span><div class="skill-bar"><div class="skill-bar-content" data-percentage="80">80%</div></div></li>
					</ul>
				</div>
			
			</article>
		
		</div>		
		
		<!-- Team -->
		<div class="grey">
			<div class="container">
			
				<article>
					
					<h5>Our Faces</h5>
					
					<div class="one-third column">
						<figure class="picture">
							<img src="images/face-one.jpg">
							<figcaption>
								<span>Christy - CEO</span>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
					</div>

					<div class="one-third column">
						<figure class="picture">
							<img src="images/face-two.jpg">
							<figcaption>
								<span>Richard - Developer</span>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
					</div>
					
					<div class="one-third column">
						<figure class="picture">
							<img src="images/face-three.jpg">
							<figcaption>
								<span>James - Designer</span>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
								</ul>
							</figcaption>
						</figure>
					</div>
					
				</article>
				
			</div>
		</div>
		
	</section>
 <!-- ABOUT / End
=========================================== -->	 